/* This is CSS */

* {

box-sizing: border-box;

}






body {

font-family: "Courier New", monospace;
background-color: rgb(238, 241, 241);
color: rgb(90, 90, 90);


  margin: 0 auto;      /* centers content horizontally */
  padding: 0 20px;     /* space from edges on small screens */




}



/* Header*/



header {

background-color: rgb(255, 255, 255);
display: flex;
  align-items: center;
  gap: 25px; /* 40px space between all flex items */
  padding: 20px;




}



.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-shrink: auto;
  gap: 15px;
  margin-left: auto;



}






button {


background-color: rgb(221, 221, 221);
color: black;
font-size: 12px;
border: none;
border-radius: 12px;
padding: 5px 10px;



}



button:hover {

background-color: rgb(255, 255, 255);



}





.banner{


height: 250px;
width: 0 auto;
background-color: beige;
display:flex




}








/* Body*/






main {


padding: 20px;    
background-color: rgb(255, 255, 255);
padding top: ;: 25px;



}






h3 {

color: inherit;
font-size: 16px;

}



.title {
margin: 0;
font-size: 20px;
background-color: rgb(255, 255, 255);


}






.cards-container {
  display: flex;
  flex-wrap: wrap;       /* multiple cards per row */
  gap: 70px;             /* space between cards */
  justify-content: center;

  padding: 25px;

  background-color: rgb(225, 220, 245);
}

.card {
   
  flex: 0 0 auto;        /* do not stretch */
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  transition: transform 0.2s ease;
}


.card img {

width:330px;
height: 260px;
object-fit: cover;
object-position: center;




}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}


 






.about {


display: flex;
justify-content: center;
background-color: rgb(215, 215, 215);
gap: 25px;


  
  
}




.aboutbox1 {
background-color: rgb(114, 237, 0);
  
    height: 400px;
  width: 100%;

padding: 45px;
 

}
.aboutbox2 {
  background-color: rgb(237, 0, 178);
  
    height: 400px;

     width: 100%;
 padding: 45px;

     
}


@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}








/* Footer*/


footer {
    padding: 20px;



background-color: rgb(255, 255, 255);

}

