/* This is CSS */

* {

box-sizing: border-box;

}






body {

font-family: "Courier New", monospace;
background-color: rgb(238, 241, 241);
color: rgb(80, 80, 80);


  margin: 0 auto;      /* centers content horizontally */
  padding: 0 20px;     /* space from edges on small screens */




}


.container {

max-width: 1000px;   /* centers content horizontally */
margin: auto;  

}




/* Header*/



header {

background-color: rgb(255, 255, 255);
display: flex;
  align-items: center;
  gap: 25px; /* 40px space between all flex items */
  padding: 50px;




}



.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-shrink: auto;
  gap: 15px;
  margin-left: auto;



}




button {


background-color: rgb(240, 240, 240);
border: none;
border-radius: 12px;
padding: 5px 10px;
color: rgb(62, 62, 62);
font-family: "Courier New", monospace;
text-decoration: none;



}



button:hover {

background-color: rgb(232, 232, 232);



}















/* Body*/




main {


padding: 20px;    
background-color: rgb(255, 255, 255);
  padding: 50px;


}




.banner{

display: flex;
flex-direction: column;
justify-content: flex-end; /* pushes all children to bottom */


background-image: url("../img/hamburger.jpg");
background-size: cover;
justify-content: center;
background-position: center;

width: 100%;
height: 400px;
padding: 25px;

border-radius: 10px;




 


}




.bannertext {

margin-top: auto;
background-color: rgb(247, 247, 247, 0.5) ;
padding: 20px;
border-radius: 10px;


}

.bannertext h1{

margin: 0;

}


.bannertext p{

margin: 0;

}










h3 {

color: inherit;
font-size: 16px;

}



.title {
margin: 0;
font-size: 20px;
background-color: rgb(255, 255, 255);


}






.cards-container {
  display: flex;
  flex-wrap: wrap;       /* multiple cards per row */
  gap: 70px;             /* space between cards */
  justify-content: center;


margin-top: 50px;

margin-bottom: 50px;

  background-color: rgb(255, 255, 255);
}

.card {
   
  flex: 0 0 auto;        /* do not stretch */
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  transition: transform 0.2s ease;

  
}


.card img {

width:330px;
height: 260px;
object-fit: cover;
object-position: center;




}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}


 






.about {


display: flex;
justify-content: center;
background-color: rgb(215, 215, 215);

  
  
}




.aboutbox1 {
background-color: rgb(255, 255, 255);
  
height: 400px; 
width: 100%;





}


.aboutbox1 img {

width: 100%;          /* fills container width */
  height: 100%;         /* fills container height */
  object-fit: cover;    /* scales and crops image to fit container without stretching */
  object-position: center; /* optional: keeps center of image visible */
  display: block;       /* removes extra space below image */
  border-radius: 12px;   /* optional styling */



}







.aboutbox2 {
  background-color: rgb(255, 255, 255);
  
    height: auto;

     width: 100%;
 padding: 45px;

     
}




.aboutbox2 p {
margin: 0;
font-size: 12px;

}


.aboutbox2 h4 {
  margin: 0;
margin-bottom: 10px;
}





@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}








/* Footer*/


footer {
  height: 100px;
  margin: 0 auto;
  padding: 25px;
  padding-left: 50px;
  text-align: center;
  




background-color: rgb(251, 244, 244);

}

