/* This is CSS */

* {

box-sizing: border-box;

}




body {

font-family: Arial, Helvetica, sans-serif;
background-color: rgb(170, 224, 234);
color: rgb(0, 0, 0);


  margin: 0 auto;      /* centers content horizontally */
  padding: 0 20px;     /* space from edges on small screens */




}


header {

background-color: rgb(67, 67, 169);
display: flex;
  align-items: center;
  gap: 25px; /* 40px space between all flex items */
  padding: 20px;




}



.nav {
  display: flex;
  flex-shrink: auto;
  gap: 15px;
  margin-left: auto;
  

background-color: beige;



}





main {

padding: 20px;    
background-color: rgb(0, 255, 68);
padding top: ;: 25px;



}




footer {
    padding: 20px;



background-color: rgb(255, 255, 255);

}







h3 {

color: inherit;
font-size: 16px;

}



.title h1 {
margin: 0;
font-size: 20px;
background-color: aliceblue;


}








.cards-container {
  display: flex;
  flex-wrap: wrap;       /* multiple cards per row */
  gap: 70px;             /* space between cards */
  justify-content: center;

  padding: 25px;

  background-color: rgb(225, 220, 245);
}

.card {
   
  flex: 0 0 auto;        /* do not stretch */
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-color: white;
  transition: transform 0.2s ease;
}


.card img {
  width: 170px;          /* consistent size */
  height: auto;          /* maintain aspect ratio */
  display: block;
  border-radius: 8px;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}











button {


background-color: rgb(221, 221, 221);
color: black;
font-size: 12px;
border: none;
border-radius: 12px;
padding: 5px 10px;



}



button:hover {

background-color: rgb(255, 255, 255);



}





.banner{


height: 250px;
width: 0 auto;
background-color: beige;
display:flex




}


.about {
  display: flex;             /* make it flex container */
  flex-direction: column;    /* vertical stacking */
  gap: 20px;                 /* space between boxes */
  padding: 20px;
  background-color: beige;
  width: 100%;
}
.aboutbox1 {
  background-color: aqua;
  padding: 20px;
}
.image-placeholder {
  background-color: rgb(23, 203, 110);
  height: 200px;
  padding: 20px;
}